.container {
  margin: 40px auto;
  .addPage {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    font-family: sans-serif;
    .forms {
      .form {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        .field {
          width: 350px;
          height: 40px;
          outline: none;
        }
        button {
          width: 350px;
          height: 40px;
          border: 2px solid #316ec2;
          background-color: #316ec2;
          padding: 10px;
          font-size: 18px;
          color: white;
          transition: all 700ms;
          &:hover {
            background-color: #2861b0;

            border: 2px solid#2861b0;
          }
        }
      }
    }
    table {
      width: 100%;
      border: 1px solid gray;
      text-align: center;
      img {
        width: 200px;
      }
      button {
        border: 2px solid #316ec2;
        background-color: #316ec2;
        padding: 10px 15px;
        font-size: 15px;
        color: white;
        transition: all 700ms;
        &:hover {
          background-color: #2861b0;
          border: 2px solid#2861b0;
        }
      }
      .fa-solid {
        color: #2861b0;
        cursor: pointer;
      }
    }
    th,
    td {
      padding: 6px;
      border: 1px solid gray;
    }
  }
}
